canvas {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.canvas-container {
    width: 50%;
    height: 50%;
    padding: 1rem 0;
}

.editor {
    width: 50%;
    height: 50%;
    padding: 0 1rem;
}

.editor-container {
    width: 100%;
    height: 100%;
    display: none;
}

.close-editor-btn {
    border: none;
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.open-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}