.main-gallery .images>* {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px;
}

.images.grid {
    grid-gap: .5em;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 150px;
}

.main-gallery {
    margin-bottom: 30px;
}