.main-nav ul>* {
    padding: 0.625rem;
}

.main-nav ul>*:last-child {
    margin-inline-end: 2rem;
}

.main-nav {
    background-color: var(--clr2);
    justify-content: flex-end;
    box-shadow: 1px 0px 5px #3a3845;
}