.main-header {
    justify-content: space-between;
    background-color: var(--clr1);
    box-shadow: inset 0px -2px 5px #3a3845;
    align-items: center;
}

.main-header ul>* {
    width: 90px;
    height: 33px;
    cursor: pointer;
}

.main-header .main-logo {
    margin-inline-start: 20px;
}