.grid {
    display: grid;
}

.nice-button {
    background: var(--clr1);
    border-radius: 11px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
}


/* flex helpers */

.flex {
    display: flex;
}

.flex.flex-center {
    justify-content: center;
    align-items: center;
}

.flex.column {
    flex-direction: column;
}