/* main page layout */

.flex-container {
    min-height: 100vh;
}

header {
    flex-grow: 1.5;
}

nav {
    flex-grow: 0.5;
}

main {
    flex-grow: 8;
}

footer {
    flex-grow: 2;
}

main {
    position: relative;
    padding: 2.5rem;
}